<div class="main-div">
  <form [formGroup]="loginForm" (submit)="onSubmit()">
    <mat-card>
      <mat-card-title>
        Logowanie
      </mat-card-title>
      <mat-card-content>
        <div class="form-group">
          <label for="username">Login</label>
          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Hasło</label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary">Zaloguj</button>
      </mat-card-actions>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      <p class="h6 p-3">Nie masz jeszcze konta
        <a [routerLink]="['/register']">Zarejestruj się</a>
      </p>
    </mat-card>
  </form>
</div>
